/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
ul.nice-menu-down li ul {
  width: 940px;
}

.sale-stamp {
  background: url("../images/new-sale.png") no-repeat 0 -81px;
  height: 50px;
}
